.paddingtopbottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.marginbottom {
  margin-bottom: 15px;
}

.toppadding {
  padding-top: 100px;
  padding-bottom: 50px;
}

.titles {
  font-size: 4em;
  font-family: 'Raleway'
}

@media (max-width: 1200px) {
  .menuantiguo {
    display: none;
  }
}

.margins_md {
  margin-bottom: 30px;
}

.menuantiguo {
  text-align: right;
  padding-top: 70px;
  padding-right: 40px;
  position: fixed;
  right: 0px;
  font-family: 'Raleway'
}

.bajada {
  text-align: justify;
}

.banner_ {
  font-size: 6rem;
}

.misiones {
  font-size: 2em;
  font-family: 'Kavivanar';
  text-align: center;
}

.nostros {
  border: solid 2px grey;
}
